<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="text-center text-white">
                            <h1 class="mb-5">Google map 診所評論分析</h1>
                            <form class="form-subscribe" action="/submit" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="url" placeholder="請輸入診所的 Google map 網址" name="url" />
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit" onclick="searchFun()">送出</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <h1 style="color: rgb(70, 68, 117)">{{name}} </h1>
                        <p class="fs-5 mb-4">以下就 Google map 上最新 20 筆評論中，【有留文字】的評論進行語意分析</p>
                        <h3>整體評論：
                            {% if review.positive > review.negative %}
                               <span style="color: #3fdb3a;">正面</span> 
                            {% elif review.positive < review.negative %}
                                <span style="color: #f84845;">負面</span>
                            {% else  %}
                               <span style="color: #f9c722;">中立</span>
                            {% endif %}
                        </h3>
                        <p class="fs-5">正面數： {{review.positive}} , 負面數： {{review.negative}} , 中立數： {{review.neutral}}</p>
                        <div class="mb-5" style="overflow: auto; background-color: white;">
                            <div id="3dchart" class="my-4" style="width: 49%; height: 400px; float: left"></div>
                            <div id="columnchart_material" class="my-4" style="width: 49%; height: 400px; float: right"></div>
                            <div style="width: 30%; margin: 30px 20px; display: inline-block;">
                                <h5>正面評價中提及的字詞：</h5><br/>
                                <canvas id="gk_canvas" style="width: 100%; height: 100%;"></canvas>
                            </div>
                            <div style="width: 30%; margin: 30px 15px; display: inline-block;">
                                <h5>負面評價中提及的字詞：</h5><br/>
                                <canvas id="bk_canvas" style="width: 100%; height: 100%;"></canvas> 
                            </div>
                            <div style="width: 30%; margin: 30px 15px; display: inline-block;">
                                <h5>中性評價中提及的字詞：</h5><br/>
                                <canvas id="nk_canvas" style="width: 100%; height: 100%;"></canvas> 
                            </div>
                        </div>
                        
                        <h2>詳細評論</h2>
                        {% for item in finalresult %}
                            {% if item.total >= 3 %}
                            <div class="card my-4" style="background-color: rgba(9, 193, 34, 0.479);">
                            {% elif item.total < 3 and item.total > 0 %}
                            <div class="card my-4" style="background-color: rgba(167, 230, 154, 0.479);">
                            {% elif item.total == 0 %}
                            <div class="card my-4" style="background-color: rgba(252, 227, 125, 0.546);">
                            {% elif item.total < 0 and item.total > -3  %}
                            <div class="card my-4" style="background-color: rgba(253, 175, 175, 0.479);">
                            {% else %}
                            <div class="card my-4" style="background-color: rgba(255, 99, 99, 0.479);">
                            {% endif %}
                                <div class="card-body">
                                    {{item.review}}
                                    <div class="text-end text-black-50"> {{item.time}}</div>
                                    <hr>
                                    <div class="fs-6">
                                        <b>關鍵字：
                                            {% for item in item.key_phrases %}
                                                {{item}},
                                            {% endfor %}
                                        </b>
                                    </div>
                                    <div class="fs-5"><b>評論總分：{{item.total}}</b></div>
                                </div>
                            </div>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </section>
        <div id="cf" style="display: none;">{{classify}}</div>
        <div id="gk" style="display: none;">{{good_keywords}}</div>
        <div id="bk" style="display: none;">{{bad_keywords}}</div>
        <div id="nk" style="display: none;">{{neutral_keywords}}</div>
        <div class="mask fs-2">
            <div class="text show1">系統很努力在抓取資料中....</div>
            <div class="text show2">系統很努力分析評論中，請稍等一下 > <...</div>
        </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{{url_for('static',filename='js/wordcloud2.js')}}"></script>
        <script src="{{url_for('static',filename='js/script.js')}}"></script>
        <script type="text/javascript">
            let gk = JSON.parse(document.getElementById('gk').innerHTML);
            let bk = JSON.parse(document.getElementById('bk').innerHTML);
            let nk = JSON.parse(document.getElementById('nk').innerHTML);
            let good_keywords = []
            let bad_keywords = []
            let neutral_keywords = []
            for (const e in gk) {
                let temp = [e, gk[e]]
                good_keywords.push(temp)
            }
            for (const e in bk) {
                let temp = [e, bk[e]]
                bad_keywords.push(temp)
            }
            for (const e in nk) {
                let temp = [e, nk[e]]
                neutral_keywords.push(temp)
            }
            let options = {
                weightFactor   : 20,
                rotateRatio    : 0,
                rotationSteps  : 0,
                shuffle        : false,
                backgroundColor: 'white',
                drawOutOfBound : false,
                gridSize       : 3
            };

            WordCloud(document.getElementById('gk_canvas'), {list:good_keywords,color:'rgb(90 214 65)',...options});
            WordCloud(document.getElementById('bk_canvas'), {list:bad_keywords,color:'rgb(255 114 114)',...options});
            WordCloud(document.getElementById('nk_canvas'), {list:neutral_keywords,color:'rgb(245 206 45)',...options});
            
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = new google.visualization.DataTable() 
                data.addColumn('string', 'reviews');
                data.addColumn('number', 'counts');
                data.addRows([ 
                    ['正面', {{review.positive}}], 
                    ['負面', {{review.negative}}], 
                    ['中立', {{review.neutral}}] 
                ]); 

                var options = {
                    title: '正負評比例',
                    colors: ['#9DDF9B', '#FDB3B2', '#F7DE8F'],
                    is3D: true,
                };

                var chart = new google.visualization.PieChart(document.getElementById('3dchart'));
                chart.draw(data, options);
            }

            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart2);
            let cf = JSON.parse(document.getElementById('cf').innerHTML);

            function drawChart2() {
            
            let bar_data = [['評論時間', '好評', '負評', '中立']]
            
            cf.forEach(el => {
                bar_data.push(Object.values(el))
            });     

            var data = google.visualization.arrayToDataTable(bar_data);

            var options = {
                chart: {
                title: '各發佈時間區間的評論數量',
                },
                isStacked: true,
                series: {
                    0:{color:'#9DDF9B'},
                    1:{color:'#FDB3B2'},
                    2:{color:'#F7DE8F'}
                }
            };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
        }
        </script>
    </body>
</html>
